<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/head :: pageHead('Overview')}"></th:block>
</head>
<body>

<header th:replace="~{/fragments/header :: mainHeader}" id="master-header"></header>

<main class="mod-page mx-auto">
    <section class="mod-hero position-relative overflow-hidden">
        <h1 class="statement m-0">Where are sales heading?</h1>
        <div th:replace="~{/fragments/items/notice :: error(${historyError})}"></div>
    </section>
    <section th:replace="~{/fragments/index/sales :: sales}"></section>
</main>

<footer th:replace="~{/fragments/footer :: mainFooter}" id="master-footer"></footer>
</body>
</html>
